nvim/plugged/*
nvim/ftplugin/*
nvim/autoload/*
nvim/doc/*
nvim/plugin/*

.tmux/*

nvim.appimage

.scm_breeze/*
./splitjoin
./.fzf
./linediff.vim.git
./.bash-git-prompt/*
.bash-git-prompt
./fonts
bin/chromes/*
bin/foxes/*
fonts
