[submodule "YouCompleteMe"]
	path = ./submodules/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bash-git-prompt"]
	path = ./submodules/bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt.git
[submodule "scm_breeze"]
	path = ./submodule/scm_breeze
	url = git://github.com/scmbreeze/scm_breeze.git
[submodule "splitjoin.vim"]
	path = ./submodules/splitjoin.vim
	url = git://github.com/AndrewRadev/splitjoin.vim.git
[submodule "fzf"]
	path = ./submodules/fzf
	url = https://github.com/junegunn/fzf.git
